---
import Layout from "../layouts/Layout.astro";
import ServicesBreadcrumb from "../components/ServicesBreadcrumb.astro";
import QuoteSection from "../components/QuoteSection.astro";
import FaqItem from "../components/FaqItem.astro";
import CodeSVG from "../components/CodeSVG.astro";
---

<Layout
    title="Consultoría Digital en Cancún | Estrategias para Crecer Online"
    description="Diagnóstico, planificación y acompañamiento para tu presencia digital. Descubre cómo escalar tu negocio con asesoría estratégica y soluciones digitales personalizadas."
>
    <section class="section relative">
        <h1 class="h-gradient h1 block lg:!mt-20 !mb-1">
            Consultoria Digital en Cancun
        </h1>
        <ServicesBreadcrumb current="Consultoria Digital en Cancún" />

        <p class="text-xl mb-5 relative z-100">
            Acompañamos a empresas y emprendedores a tomar decisiones digitales
            estratégicas con impacto real.
        </p>
        <p class="text-lg mb-10 relative z-100">
            Nuestro servicio de <b class="text-blue-company-500"
                >consultoría digital en Cancún</b
            > está diseñado para ayudarte a identificar oportunidades, optimizar
            tu presencia online y alinear tu negocio con el entorno digital actual.
            Ya sea que necesites lanzar un proyecto desde cero o mejorar lo que ya
            tienes, trabajamos contigo para definir una estrategia clara, realista
            y efectiva.
        </p>

        <CodeSVG />
    </section>

    <section
        class="section bg-white rounded-lg text-black flex flex-col gap-5 lg:gap-0 lg:flex-row"
    >
        <div class="p-3 lg:w-2/4 lg:p-10">
            <h2 class="!text-blue-company-600 !mt-0">
                ¿Para quién es nuestra consultoría digital?
            </h2>
            <p class="mb-2 font-semibold text-lg">
                ¿Te preguntas si este servicio es para ti?
            </p>
            <p class="mb-5">
                En él te damos una visión externa y profesional, enfocada en
                optimizar tus recursos y maximizar resultados. Estas son algunas
                situaciones donde podemos ayudarte:
            </p>
            <ul class="flex flex-col gap-2">
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Tienes un negocio físico y quieres dar el salto al mundo digital.
                </li>
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Ya tienes una página web o redes, pero no estás generando resultados.
                </li>
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Tu empresa ha invertido en campañas o diseño, pero sin estrategia
                    clara.
                </li>
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Deseas ordenar tus canales, tus herramientas y tus objetivos
                    digitales.
                </li>
            </ul>
        </div>
        <div
            class="p-3 relative bg-gray-100 rounded-tr-lg rounded-br-lg lg:w-2/4 lg:p-10"
        >
            <h2 class="!mt-0 !text-black">
                ¿Qué puedes lograr con nuestra consultoría?
            </h2>
            <p class="mb-5">
                Cada sesión de consultoría está enfocada en crear transformación
                real. Al trabajar con nosotros, puedes:
            </p>
            <ul class="flex flex-col gap-2">
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Identificar lo que sí y no está funcionando en tu ecosistema
                    digital.
                </li>
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Corregir errores técnicos o estratégicos que frenan tu crecimiento.
                </li>
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Priorizar acciones que generen resultados en el corto y mediano
                    plazo.
                </li>
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Alinear tu comunicación, canales y herramientas con tus objetivos
                    comerciales.
                </li>
                <li class="flex items-start gap-2 text-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#155DFC"
                            d="M20.399 2.551a.75.75 0 0 1 1.202.898l-7.232 9.69a1.537 1.537 0 0 1-2.364.11l-3.561-3.94a.75.75 0 1 1 1.112-1.006l3.562 3.94l.007.004q.006.003.02.003l.017-.004l.004-.004zM9.367 2.25H9.4a.75.75 0 1 1 0 1.5c-1.132 0-1.937 0-2.566.052c-.62.05-1.005.147-1.31.302a3.25 3.25 0 0 0-1.42 1.42c-.155.305-.251.69-.302 1.31c-.051.63-.052 1.434-.052 2.566v5.2c0 1.133 0 1.937.052 2.566c.05.62.147 1.005.302 1.31a3.25 3.25 0 0 0 1.42 1.42c.305.155.69.251 1.31.302c.63.052 1.434.052 2.566.052h5.2c1.133 0 1.937 0 2.566-.052c.62-.05 1.005-.147 1.31-.302a3.25 3.25 0 0 0 1.42-1.42c.155-.305.251-.69.302-1.31c.051-.63.052-1.434.052-2.566v-1.1a.75.75 0 0 1 1.5 0v1.133c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057"
                        ></path></svg
                    >
                    Evitar toma de decisiones costosas o inversiones innecesarias.
                </li>
            </ul>
        </div>
    </section>

    <section class="section lg:!mt-20">
        <h2 class="text-center">
            ¿Qué áreas podemos diagnosticar y optimizar?
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
            <article class="border-2 border-gray-800 p-5 rounded-lg">
                <h3 class="!mt-0">Presencia Web</h3>
                <p>
                    Auditoría de tu sitio web, velocidad, estructura, contenido,
                    experiencia de usuario.
                </p>
            </article>
            <article class="border-2 border-gray-800 p-5 rounded-lg">
                <h3 class="!mt-0">SEO & SEM</h3>
                <p>
                    Análisis de tu visibilidad actual en Google y campañas
                    activas o pasadas.
                </p>
            </article>
            <article class="border-2 border-gray-800 p-5 rounded-lg">
                <h3 class="!mt-0">Redes Sociales</h3>
                <p>
                    Revisión de tu tono, coherencia y estrategia de contenidos.
                </p>
            </article>
            <article class="border-2 border-gray-800 p-5 rounded-lg">
                <h3 class="!mt-0">Herramientas y Tecnología</h3>
                <p>
                    Automatización, formularios, CRM, gestión de leads o ventas.
                </p>
            </article>
            <article class="border-2 border-gray-800 p-5 rounded-lg">
                <h3 class="!mt-0">Embudo de Conversión</h3>
                <p>
                    Desde la atracción hasta el cierre de venta: qué funciona y
                    qué puede mejorar.
                </p>
            </article>
        </div>
    </section>

    <section class="section lg:!mt-20">
        <QuoteSection section="Consultoría Digital en Cancún" />

        <h2 class="!mt-20 lg:!mt-30">
            Preguntas frecuentes sobre Consultoría Digital
        </h2>
        <FaqItem
            question="¿Qué costo tiene una consultoría digital en Cancún?"
            answer="El costo de una consultoría digital en Cancún puede variar dependiendo de la complejidad del proyecto, la experiencia del consultor y los servicios incluidos. Es recomendable solicitar un presupuesto personalizado."
            visible={true}
        />

        <FaqItem
            question="¿La Consultoría incluye la ejecución de acciones?"
            answer="Sí, la consultoría digital incluye la ejecución de acciones recomendadas para mejorar la presencia en línea de tu negocio. Trabajamos en conjunto contigo para implementar las estrategias necesarias."
            visible={false}
        />

        <FaqItem
            question="¿Puedo contratar solo una sesión?"
            answer="Sí, puedes contratar solo una sesión de consultoría digital. Sin embargo, para obtener resultados óptimos, recomendamos un enfoque más integral que incluya varias sesiones."
            visible={false}
        />

        <FaqItem
            question="¿Necesito tener una página web ya?"
            answer="No es estrictamente necesario tener una página web para comenzar con la consultoría digital, pero sí es altamente recomendable. Si no cuentas con una, podemos asesorarte en el proceso de creación y optimización."
            visible={false}
        />
        <FaqItem
            question="¿Qué acciones o entregables recibo?"
            answer="Recibirás un informe detallado con las recomendaciones y acciones a implementar, así como el seguimiento de los resultados obtenidos. También podemos ofrecerte la ejecución de algunas de estas acciones, dependiendo del acuerdo establecido."
            visible={false}
        />
    </section>
</Layout>
