---
import Layout from "../layouts/Layout.astro";

const projects = [
    {
        id: "1",
        client: "Pioneros Cancún Asociación",
        description:
            "Diseño y desarrollo de una aplicación web enfocada en la carga, gestión y visualización de información relevante de la Institución.",
        image: "/src/assets/pioneros-asosiacion-portfolio.webp",
        link: "http://asociacionpioneroscancun.com/",
    },
    {
        id: "2",
        client: "Caribbean Paradise Vacations",
        description:
            "Diseño y Desarrollo web a la medida autoadministrable para una agencia de viajes especializada en hoteles.",
        image: "/src/assets/caribbean-paradise-portfolio.webp",
        link: "https://caribbeanparadisevacations.com/",
    },
    {
        id: "3",
        client: "Yachts Adventures",
        description:
            "Desarrollo Web a la medida de un e-commerce para la renta de Yates en linea.",
        image: "/src/assets/yacht-adventure-portfolio.webp",
        link: "https://yachtsadventures.com/",
    },
    {
        id: "4",
        client: "Mayikal Experiences",
        description:
            "Diseño Web informativo para presentar y dar información detallada acerca de experiencias nativas en Tulum.",
        image: "/src/assets/mayikal-experiences-portfolio.webp",
        link: "https://www.mayikalexperiences.com/",
    },
    {
        id: "5",
        client: "JP Contadores",
        description:
            "Pagina web informativa para la presentación de los servicios contables del despacho JP Contadores",
        image: "/src/assets/jp-contadores-portfolio.webp",
        link: "https://www.jpcontadorescancun.com/",
    },
    {
        id: "6",
        client: "Fantastic Travel",
        description:
            "E-commerce turístico autoadministrable para la venta de tours en Cancún y la Riviera Maya.",
        image: "/src/assets/fantastic-travel-portfolio.webp",
        link: "https://www.fantastic-travel.com.mx/",
    },
];
---

<Layout
    title="Proyectos de Desarrollo Web y Software en Cancún | Agencia en de soluciones digitales en Cancún"
    description="Conoce algunos de los proyectos que hemos desarrollado en Cancún y otras regiones: sitios web, sistemas a la medida y soluciones digitales enfocadas en resultados."
>
    <section class="section">
        <h1 class="block !mb-10 lg:!mt-30 lg:w-3/4">Nuestro Proyectos</h1>
        <p class="text-xl mx-auto mb-8 leading-8">
            Sería imposible incluir todos nuestros proyectos, pero podrás
            explorar algunos de los proyectos más destacados que hemos llevado a
            cabo. Cada uno de ellos refleja nuestro compromiso con la calidad y
            la innovación.
        </p>

        <div class="grid grid-cols-1 mt-20 mb-20 md:grid-cols-2 gap-10">
            {
                projects.map((project) => (
                    <div
                        key={project.id}
                        class="relative rounded-lg overflow-hidden border-2 border-gray-700 transition-all duration-300"
                    >
                        <img
                            src={project.image}
                            alt={project.client}
                            class="w-full object-cover rounded-lg"
                        />
                        <div class="absolute bottom-0 right-0 left-0 z-10 p-5 pt-20 pr-10 bg-gradient-to-t from-black to-transparent">
                            <h3 class="text-lg font-semibold !m-0 !text-gray-200 text-center lg:text-left">
                                {project.client}
                            </h3>
                            <p class="text-white text-sm hidden lg:block">
                                {project.description}
                            </p>
                        </div>
                        <a
                            href={project.link}
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            title="Explorar Proyecto"
                            class="absolute bottom-5 right-5 hidden p-3 bg-blue-company-700 rounded-lg z-20 transition-all duration-300 lg:block hover:bg-blue-company-500"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    fill="#FFF"
                                    d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2m6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03L9.28 7.78a.75.75 0 0 1-1.042-.018a.75.75 0 0 1-.018-1.042l3.75-3.75l-1.543-1.543A.25.25 0 0 1 10.604 1"
                                />
                            </svg>
                        </a>
                    </div>
                ))
            }
        </div>
    </section>
</Layout>
